.display-inline-block {
  display: inline-block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-inherit {
  flex-wrap: inherit;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}